In [1]:
import numpy as np
import pandas as pd

In [2]:

noti = pd.read_csv('noti_data.csv')    

df = pd.read_csv('dummy.csv',index_col = 0)
df.fillna(0,inplace = True)

noti['notification time'] = pd.to_datetime(noti['notification time'])
noti['followed time'] = pd.to_datetime(noti['followed time'])

send_time = noti['notification time'].apply(lambda x:x.time())
viewed_time = noti[noti['was followed'] == 1]['followed time'].apply(lambda x:x.time())


df['send_time'] = send_time
df['viewed_time'] = viewed_time
df.head()

#df.to_csv('dummy.csv')

,id,trigger number,was followed,delay,e,n_date,n_hour,n_day,f_date,f_hour,f_day,group,send_time,viewed_time
0,1,1,1.0,803,1,2014-10-13,12,Mon,2014-10-13,12,Mon,Intelligent,12:19:24,12:32:00
1,1,2,1.0,2401,1,2014-10-13,18,Mon,2014-10-13,18,Mon,Intelligent,18:04:42,18:44:00
2,1,3,0.0,0,1,2014-10-14,11,Tue,1970-01-01,0,Thu,Intelligent,11:12:25,NaN
3,3,1,1.0,9852,1,2014-08-10,20,Sun,2014-08-10,23,Sun,Occasional,20:16:28,23:00:00
4,3,2,0.0,0,1,2014-11-10,20,Mon,1970-01-01,0,Thu,Occasional,20:09:49,NaN

In [3]:
user_data = pd.read_csv('user_data.csv')
print('Unique id in\nUser Data:{}\nLog Data:{}\n'.format(user_data['id'].nunique(),df['id'].nunique()))
user_data.head()

Unique id in
User Data:180
Log Data:157

  id       signup time  Group   age  gender                         qual
0  1  13-10-2014 09:39    1.0  48.0  Female                       Degree
1  3  07-10-2014 22:07    3.0  42.0    Male  GCSEs / O levels or similar
2  4  04-09-2014 09:53    3.0  15.0    Male                       Degree
3  5  17-09-2014 10:43    2.0  50.0    Male                        Other
4  6  09-09-2014 20:35    2.0   5.0    Male  GCSEs / O levels or similar

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5437 entries, 0 to 5436
Data columns (total 14 columns):
id                5437 non-null object
trigger number    5437 non-null int64
was followed      5437 non-null float64
delay             5437 non-null int64
e                 5437 non-null int64
n_date            5437 non-null object
n_hour            5437 non-null int64
n_day             5437 non-null object
f_date            5437 non-null object
f_hour            5437 non-null int64
f_day             5437 non-null object
group             5437 non-null object
send_time         5437 non-null object
viewed_time       801 non-null object
dtypes: float64(1), int64(5), object(8)
memory usage: 637.1+ KB

In [ ]:
## Temp mappings dict
t_dic = user_data[['id','age','gender','qual']].set_index('id')
t_dic.loc['3']['qual']

In [ ]:
t_dic = user_data[['id','age','gender','qual']].set_index('id')
t_dic.loc['3']['qual']

In [ ]:
df['age'] = df['id'].map(lambda x: t_dic.loc[x]['age'])
df['gender'] = df['id'].map(lambda x:t_dic.loc[x]['gender'])
df['qual'] = df['id'].map(lambda x:t_dic.loc[x]['qual'])
df.head()

In [ ]:
df['gender'].isnull().value_counts()

In [ ]:
df.info()

In [ ]:
df.dropna().info()

## NaNs