# Imports

In [2]:
from train import *
from pred import *
from zion import *

**Notification delivery opportune time**

In [3]:
df = pd.read_csv('dummy.csv',index_col = 0)
df.head()

,n_id,send_time,clicked_time,phone_status,xyz,loc,ringer_mode,action,image,personalized,tone_text,apps_logs,cat
0,1,13-10-2014 12:19,13-10-2014 12:14,1,2,2,5,1,1,0,1,236,1
1,2,14-10-2014 12:19,14-10-2014 18:44,1,3,5,2,0,1,0,2,10000,1
2,3,15-10-2014 12:19,15-10-2014 12:14,1,2,2,5,1,1,0,1,536,3
3,4,16-10-2014 12:19,16-10-2014 18:44,1,3,5,2,0,1,0,2,10000,1
4,5,17-10-2014 12:19,17-10-2014 12:14,1,2,2,5,1,1,0,1,236,2

In [4]:
obj = train_model('dummy.csv')

In [5]:
obj.get_data().head()

,phone_status,xyz,loc,ringer_mode,action,image,personalized,tone_text,apps_logs,cat,hour,minute,Fri,Mon,Sat,Thu,Tue,Wed
0,1,2,2,5,1,1,0,1,236,1,12,19,0,1,0,0,0,0
1,1,3,5,2,0,1,0,2,10000,1,12,19,0,0,0,0,1,0
2,1,2,2,5,1,1,0,1,536,3,12,19,0,0,0,0,0,1
3,1,3,5,2,0,1,0,2,10000,1,12,19,0,0,0,1,0,0
4,1,2,2,5,1,1,0,1,236,2,12,19,1,0,0,0,0,0

In [6]:
clf = obj.train_eval()

Train-Test ongoing for..
              precision    recall  f1-score   support

           0       1.00      1.00      1.00         1
           1       1.00      1.00      1.00         1

   micro avg       1.00      1.00      1.00         2
   macro avg       1.00      1.00      1.00         2
weighted avg       1.00      1.00      1.00         2

DONE

In [7]:
obj.save_mdl(clf,'Test_final','saved_mdl/')

Model Saved in saved_mdl/Test_final.pkl

**Loading personalized model**

In [8]:
pred('saved_mdl/Test_final.pkl','dummy.csv')

array([[0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.]])